* {
    margin: 0;
    border: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 89, 91);
}

.container {
    width: 1200px;
    height:500px;
    background-color: rgb(242, 238, 233);
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(2, 200px) minmax(200px,min-content);
    grid-template-rows: repeat(2, minmax(min-content,150px));
    grid-auto-rows: 200px;
    justify-content:center;
    align-content:center;
   
   
}
.box{
    display: grid;
    justify-items: center;
    align-items:center;
}

.box-1 {
    background-color: rgb(59, 114, 73);
}

.box-2 {
    background-color: rgb(189, 180, 76);
}

.box-3 {
    background-color: rgb(91, 217, 223);
}

.box-4 {
    background-color: rgb(174, 82, 227);
}

.box-5 {
    background-color: rgb(91, 54, 191);
}

.box-6 {
    background-color: rgb(148, 118, 120);
    display:grid;
    justify-content: end;
    align-items: start;
    padding:5px;
}